h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p, h4, h5, h6, li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 24px;
    font-weight: 900;
}

.info-title {
    font-size: 36px;
    font-weight: 900px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    align-items: stretch;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #131a14;
    color: #e1f2e4;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #078f1b;
    font-weight: bold;
}

.caption-link {
    text-decoration: underline;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131a14;
    color: #e1f2e4;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 7%;
    gap: 20px;
}

.hook {
    flex: 1 1 0;
    font-size: 18px;
}

.hook-first {
    font-size: 48px;
}

.main-image {
    flex: 1 1 0;
    text-align: right;
} 

.info {
    color: #131a14;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 7%;
    text-align: center;
}

.how-it-works {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.step {
    width: 200px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #515952;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.quote-credit {
    text-align: right;
    margin-top: 0px;
}

.quote-text {
    text-align: left;
    margin-bottom: 0px;
    font-size: 30px;
    font-style: italic;
}

.call {
    display: flex;
    color: white;
    background-color: #078f1b;
    margin: 5%;
    padding: 5%;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.call-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.call-one {
    padding: 0px;
    margin: 0px;
    font-size: 24px;
}

.call-two {
    padding: 0px;
    margin: 0px;
}

.footer {
    text-align: center;
    background-color: #131a14;
    color: #e1f2e4;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.standalone-image {
    height: auto;
    width: 100%;
}

.gallery {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 2px solid #131a14;
    border-radius: 10px;
}

.image-caption {
    margin: 5px;
}

button {
    color: white;
    background-color: #078f1b;
    border-color: #078f1b;
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-weight: bold;
}

.call-button {
    border-color: white;
}